/Gather/dataset
*.png
/replay/video_replays
/TTS/audio_logs
/TTS/audio_samples
/TTS/converted_dataset
/TTS/HSR
/TTS/orion_voice
/TTS/piper_model
*.wav
*.csv
/TTS/rvc models
*.pt
*.jpg
*.pyc
/audio_corruption/venv-windows
terraria/logs
terraria/venv
terraria/legacy
terraria/data
terraria/server_state.json
terraria/server
terraria/playit.exe
terraria/.env
dnd/venv
dnd/5etools
dnd/.env
dnd/Homebrew
dnd/Homebrew/Homebrew_Subclass.md
